####  Baca Dataset

In [16]:

import pandas as pd

# Baca kedua dataset
df1 = pd.read_csv(r'F:\subm-ml\Customer_Personality_Analysis.csv', sep='\t')
df2 = pd.read_csv(r'F:\subm-ml\Shop_Customer_Data.csv', sep='\t')

#### Langkah Penyesuaian Dataset

In [11]:
print(df1.columns)

Index(['ID\tYear_Birth\tEducation\tMarital_Status\tIncome\tKidhome\tTeenhome\tDt_Customer\tRecency\tMntWines\tMntFruits\tMntMeatProducts\tMntFishProducts\tMntSweetProducts\tMntGoldProds\tNumDealsPurchases\tNumWebPurchases\tNumCatalogPurchases\tNumStorePurchases\tNumWebVisitsMonth\tAcceptedCmp3\tAcceptedCmp4\tAcceptedCmp5\tAcceptedCmp1\tAcceptedCmp2\tComplain\tZ_CostContact\tZ_Revenue\tResponse'], dtype='object')

In [17]:
print(df1.columns)

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

In [20]:
print(df2.columns)

Index(['CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size'], dtype='object')

In [21]:
# Baca dataset kedua dengan pemisah (delimiter) koma
df2 = pd.read_csv('Shop_Customer_Data.csv', delimiter=',')
print(df2.columns)

Index(['CustomerID', 'Gender', 'Age', 'Annual Income ($)',
       'Spending Score (1-100)', 'Profession', 'Work Experience',
       'Family Size'],
      dtype='object')

In [22]:
# Ubah nama kolom untuk konsistensi
df2.columns = [
    'Customer ID', 'Gender', 'Age', 'Annual Income', 'Spending Score',
    'Profession', 'Work Experience', 'Family Size'
]

In [23]:
import datetime

# Tambahkan kolom Age dengan konversi Year_Birth
df1['Age'] = current_year - df1['Year_Birth']

# Gabungkan kolom Kidhome dan Teenhome menjadi Family Size
df1['Family Size'] = df1['Kidhome'] + df1['Teenhome']

# Pilih hanya kolom yang relevan
df1 = df1[['ID', 'Age', 'Income', 'Family Size', 'Education', 'Marital_Status']]

# Ubah nama kolom agar sesuai dengan format Dataset 2
df1.columns = ['Customer ID', 'Age', 'Annual Income', 'Family Size', 'Education', 'Marital Status']

#### Gabungkan Kedua Dataset

In [24]:
# Gabungkan dataset secara vertikal
combined_df = pd.concat([df1, df2], ignore_index=True)

#### Tangani duplikasi

In [25]:
# Hapus duplikasi berdasarkan Customer ID
combined_df = combined_df.drop_duplicates(subset=['Customer ID'])

#### Simpan Dataset Gabungan

In [26]:
# Simpan ke file CSV
combined_df.to_csv('Combined_Dataset.csv', index=False)

In [27]:
combined_df.isnull().sum()

Customer ID           0
Age                   0
Annual Income        24
Family Size           0
Education          1606
Marital Status     1606
Gender             2240
Spending Score     2240
Profession         2270
Work Experience    2240
dtype: int64

**Insight**
- Masalah missing value akan diselesaikan nanti diproses eksplorasi data